{$SWIMPAY_CADDY_SITE_ADDRESS::80} {
	encode zstd gzip

	handle /v1/* {
		reverse_proxy swimpay-api:3000
	}

	handle /auth/* {
		reverse_proxy swimpay-api:3000
	}

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy swimpay-api:3000
	}

	handle /api-health {
		rewrite * /health
		reverse_proxy swimpay-api:3000
	}

	handle /checkout/* {
		reverse_proxy swimpay-web:3001
	}

	handle /merchant/* {
		reverse_proxy swimpay-web:3001
	}

	handle /admin/* {
		reverse_proxy swimpay-web:3001
	}

	handle /docs/* {
		reverse_proxy swimpay-web:3001
	}

	handle {
		reverse_proxy swimpay-landing:80
	}
}
