{
	auto_https off
}

:80 {
	encode zstd gzip

	handle /v1/* {
		reverse_proxy swimpay-api:3000
	}

	handle /auth/* {
		reverse_proxy swimpay-api:3000
	}

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy swimpay-api:3000
	}

	handle /api-health {
		rewrite * /health
		reverse_proxy swimpay-api:3000
	}

	handle {
		reverse_proxy swimpay-web:3001
	}
}
