<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name=".StagingReceiverProofBroadcastReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.swimpay.receiver.STAGING_PROOF" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
